.content-wrapper {
    min-height: 800px;
}

.box-title {
    font-size: 12px !important;
    line-height: 0 !important;
    vertical-align: bottom;
}

#now-page {
    font-weight: bold;
}

.control-area {
    margin: 20px 0;
}

ul.pagination {
    margin: 0;
}